body{
    background-image: url(./background_image.jpg);
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    position: relative;
}
 .box1, .box2, .box3{
    display: inline-block;
    border: 5px red solid;
    border-radius: 40px;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
} 
.box1{
    width: 200px;
}
.box2{
    width: 350px;
    margin-left: -120px;
    margin-top: 0%;
    text-align: center;
    
}
.box3{
  margin-left: 380px;
} 
.page_body{
    display:flex;
}
.offers{
    display: inline-block;
    border: 10px solid gray;
    background-color: cadetblue;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 150px;
    text-align: center;
    padding-top: 40px;
    padding-left: 45px;
    padding-bottom: 40px;
    padding-right: 45px; 
    line-height: 30px;
}
.form{
    display: inline-block;
    border: 8px red dashed;
    padding-left: 10px;
    color: red;
    margin-left: 350px;
    margin-top: 50px;
    text-align: center;
    width: 400px;
    height: 650px;
    background-color: honeydew;
    opacity: 80%;
}
.menu{
    display: inline-block;
    border: 5px red solid;
    border-radius: 40px;
    background-color: black;
    color: white;
    padding:10px 200px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    
}    
.menu1{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-top: 50px;

}
.m1{
    border: 2px rgb(22, 128, 22) solid;
    border-radius: 10px;
    background-color:cyan;
    width: 400px;
    margin: 50px 10px;
    text-align: center;
}
